#previewFull {
  background-color: #FEFEFE !important;
  width: 980px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

#sitetitle {
  border-bottom: none !important;
}

body {
  background-color: #FDFDFD !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: none !important;
}

.borderRight {
  border-right: 1px solid #FFFFFF !important;
}

#wrapper_thumb {
  width: 645px !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #000000 !important;
  background-color: inherit;
}

.preview {
  border: 25px solid #FFFFFF !important;
}

.thumbnail {
  background-color: #FFFFFF !important;
  color: inherit;
}

.itemNumber {
  color: #DFDFDF !important;
  display: none !important;
  background-color: inherit;
}

#stage2 {
  width: 980px !important;
}

.thumb, .preview {
  filter: none !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #FFFFFF !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #FFFFFF !important;
  border-left: 1px solid #FFFFFF !important;
}

.borderRightDotted {
  border-right: 1px dotted #FFFFFF !important;
}

.caption {
  color: #282828 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #FFFFFF !important;
  color: inherit;
}

#wrapper_large {
  width: 980px !important;
}

.borderBottomRight {
  border-right: 1px solid #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF !important;
}

#previewImage {
  maxSize: 900.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #FFFFFF !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #FFFFFF !important;
}

#stage {
  width: 645px !important;
}

.textColor {
  color: #000000 !important;
  background-color: inherit;
}
